@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 48pt;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 18pt;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1.2em;
}

p {
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.6;
}

article p {
  margin-bottom: 0.8em;
}

a {
  color: rgb(var(--primary));
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.4;
  font-size: 12pt;
}
